<%= form_for [@event, @fomo] do |f| %>
  <% if @fomo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fomo.errors.count, "error") %> prohibited this fomo from being saved:</h2>

      <ul>
      <% @fomo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id, :value => @event.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
