<% content_for :head do %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta property="fb:app_id" content="283790891721595" /> 
  <meta property="og:type"   content="profile" /> 
  <meta property="og:url"    content="http://www.motleeapp.com/users/<%= @user.id %>" /> 
  <meta property="og:title"  content="<%= @user.name %>" /> 
  <meta property="og:image"  content="https://graph.facebook.com/<%= @user.uid %>/picture?type=square&width=200&height=200" />
<% end %>
<div class="container_guy">
    <div class="container_inset">
        <div class="event_thumbnails">
            <% @user.photos.each do |photo| %>
                <div class="event_photo" id="event_photo_<%= photo.id %>">
                <a href="/events/<%= photo.event_id %>/photos/<%= photo.id %>">
                    <%= image_tag photo.image.url %>
                </a>
                <%= image_tag "http://graph.facebook.com/" + photo.user.uid + "/picture", :class => "event_photo_taker" %>
                <span><%= photo.user.name %></span>
                <span class="photo_likes"><%= photo.likes.count %> Likes</span>
                </div>
            <% end %>
        </div>
    </div>
</div>
