<%= link_to 'Back', events_path %> | 
<%= link_to 'Edit', edit_event_path(@event) %>
<h1><%= @event.name %></h1>

<h2>Stories</h2>
<%= render "stories/stories" %>
<%= render "stories/form" %>

<h2>Fomos</h2>
<%= render "fomos/fomos" %>
<%= render "fomos/form" %>
