<% content_for :head do %>
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# motleeapp: http://ogp.me/ns/fb/motleeapp#">
  <meta property="fb:app_id"      content="283790891721595" />
  <meta property="og:type"        content="motleeapp:event" /> 
  <meta property="og:url"         content="https://www.motleeapp.com/events/<%= @event.id %>" /> 
  <meta property="og:title"       content="<%= @event.name %>" /> 
  <meta property="og:image"       content="http://sphotos-a.xx.fbcdn.net/hphotos-ash4/417107_306342359470634_1693223354_n.png" /> 
  <meta property="og:description" content="Check out the photos from this event" /> 
<% end %>
<header class="navigation_bar">
    <div class="navigation_bar_choker">
        <h1 class="logo">
            <a href="/">Motlee</a>
        </h1>
        <div class="navigation_bar_right">
            <ul class="navigation_bar_actions">
                <li id="userprofile" class="userprofile has_dropdown">
                    <a href="#">
                        <span class="img img-outset avatar" style="background-image: url(https://graph.facebook.com/<%= current_user.uid %>/picture);">
                            <img src="https://graph.facebook.com/<%= current_user.uid %>/picture" alt>
                            <b></b>
                        </span>
                        <strong><%= current_user.name %></strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="salmon_bar"></div>
<div class="event_info_container">
    <ul class="event_info">
        <li class="topitem"><%= @event.name %></li>
        <li class="subitem"><%= @event.start_time.strftime("%a %B %d at %H:%I %p") %></li>
        <li class="subitem"><%= @event.end_time.strftime("%a %B %d at %H:%I %p") %></li>
        <li class="subitem"><%= @event.attendees.count %> Attendees</li>
    </ul>
</div>
<div class="container_guy">
    <div class="container_inset">
        <div class="event_thumbnails">
            <% @photos.each do |photo| %>
                <div class="event_photo">
                <%= image_tag photo.image.url, :style => :compressed %>
                <%= image_tag "https://graph.facebook.com/" + photo.user.uid + "/picture", :class => "event_photo_taker" %>
                <span><%= photo.user.name %></span>
                <span class="photo_likes"><%= photo.likes.count %> Likes</span>
                </div>
            <% end %>
        </div>
    </div>
</div>
