<% if current_user.id < 4 %>
    <!-- User is Scott, Nick, or Zack -->
    <div id="stats_container">
        <h2>Motlee Stats</h2>
        <h3>Total Reach: <%= @users.count %></h3>
        <h3>Total Users: <%= @actives.count %></h3>
        <h3>Events: <%= @events.count %></h3>
        <h3>Photos: <%= @photos %></h3>

        ####<br />
        
        <h1>Most Recent Photos</h1>
    
        <ul style="width=1000px; text-align:center; margin:0 auto;">
        <% @latest.each do |photo| %>
            <li id="<%= photo.id %>" style="float:left;">
                <img src="<%= photo.image.url(:thumbnail) %>" width="100" />
            </li>
        <% end %>
        </ul>
        <div style="clear:both;"></div>
        <br />
        
        <%= form_for(@event) do |f| %>

          <div class="field">
            <%= f.hidden_field :user_id, :value => ENV['SUPERUSER_ID'] %>
          </div>
          <div class="field">
            <%= f.hidden_field :is_private, :value => false %>
          </div>
          <div class="field">
            <%= f.hidden_field :is_deleted, :value => false %>
          </div>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :description %><br />
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <%= f.label :start_time %><br />
            <%= f.datetime_select :start_time %>
          </div>
          <div class="field">
            <%= f.label :end_time %><br />
            <%= f.datetime_select :end_time %>
          </div>
          <p>Location Name (just text)</p>
          <input type="text" name="location_name"/>
          <div class="field">
            <%= f.label :lat %><br />
            <%= f.text_field :lat %>
          </div>
          <div class="field">
            <%= f.label :lon %><br />
            <%= f.text_field :lon %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

    </div> 
<% else %>
    <h2>You do not have permission to view this page</h2>
<% end %>
