<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @story.user.name %>
</p>

<p>
  <b>Event:</b>
  <%= @story.event.name %>
</p>

<p>
  <b>Body:</b>
  <%= @story.body %>
</p>

<h2>Comments</h2>
<%= render "comments/comments" %>
<%= render "comments/form" %>

<h2>Likes</h2>
<%= render "likes/likes" %>
<%= render "likes/form" %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
