<h1>Listing photos</h1>

<table>
  <tr>
	  <th>Source</th>
	  <th>Compressed</th>
	  <th>Thumb</th>
    <th>User</th>
    <th>Event</th>
    <th>Caption</th>
    <th>Lat</th>
    <th>Lon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
	  <td><%= image_tag photo.image.url %></td>
	  <td><%= image_tag photo.image.url(:compressed) %></td>
	  <td><%= image_tag photo.image.url(:thumbnail) %></td>
    <td><%= photo.user.name %></td>
    <td><%= photo.event.name %></td>
    <td><%= photo.caption %></td>
    <td><%= photo.lat %></td>
    <td><%= photo.lon %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_event_photo_path %>
