<!DOCTYPE html>
<html lang="en">
<head>
  <title>Motlee</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "/bootstrap/js/bootstrap.min.js" %>
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="Q6BlJWjWuU9gCQat1sQet2SIPaJR8wLcXe-YyEqa7Lg" />
</head>
<body>
    	<div class="bg_container">
        	<%= yield %>
	</div>


	<script>			
		var logo = $("#logo");
		var offset= logo.offset();
		$(".bg_container").css({'width' : $(window).width(), 'height' : $(window).height()});
		$("#divider-bar").hide().fadeIn(500);
		$("#phone").hide().css('left', (offset.left - 250)).fadeIn(1000);
		$("#bottom").hide().fadeIn(1000);

		$(window).resize(function() {
			$(".bg_container").css({'width' : $(window).width(), 'height' : $(window).height()});
			var logo = $("#logo");
			var offset= logo.offset();
			$("#phone").css('left', (offset.left - 250));
		});
	</script>
</body>
</html>
