<!DOCTYPE html>
<html lang="en">
  <%= yield :head %>
  <title>Motlee</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="Q6BlJWjWuU9gCQat1sQet2SIPaJR8wLcXe-YyEqa7Lg" />
  <meta name="apple-itunes-app" content="app-id=598056592">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36518584-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
    <div class="bg_container">
        <header class="navigation_bar">
            <div class="navigation_bar_choker">
                <h1 class="logo">
                    <a href="/">Motlee</a>
                </h1>
                <div class="navigation_bar_right">
                    <ul class="navigation_bar_actions">
                        <% if current_user %>
                            <li id="link_profile" class="link-profile has-dropdown">
                                <a href="javascript:;">
                                    <span class="img img-outset avatar" style="background-image: url(http://graph.facebook.com/<%= current_user.uid %>/picture);">
                                        <img src="http://graph.facebook.com/<%= current_user.uid %>/picture" alt>
                                        <b></b>
                                    </span>
                                    <strong id="username"><%= current_user.name %></strong>
                                </a>
                                <div class="dropdown">
                                    <ul role="navigation">
                                        <li><a href="/events">My Threads</a></li>
                                        <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
                                        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                                    </ul>
                                </div>
                            </li>
                        <% else %>
                            <li id="link_profile" class="link-profile">
                                <a href="/users/auth/facebook"><strong id="username">Sign in with Facebook</strong></a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </header>
        <%= yield %>
        <div id="footer">
            <div class="footer_wrapper">
                <ul class="footer_column">
                    <img src="/images/logoWeb.png"/>
                    <li class="footer_header">&copy; Flashbulb, LLC 2012</li><br/>
                    <a href="https://itunes.apple.com/app/motlee/id598056592"><img src="/images/app_store_badge.png"/></a><br/><br/>
                    <a href="https://play.google.com/store/apps/details?id=com.motlee.android">
                      <img alt="Android app on Google Play"
                             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                    </a>
                </ul>
                <ul class="footer_column">
                    <li class="footer_header">about</li>
                    <li><a href="/about">Motlee</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="http://blog.motleeapp.com" target="_blank">Blog</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                </ul>
                <ul class="footer_column">
                    <li class="footer_header">company</li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/jobs">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function openDropdown(e) {
        $(e.target)
            .parents('.has-dropdown')
            .toggleClass("dropdown-open")
            .children('a').toggleClass("link-active");
    }

    $(document).ready(function() {
        $(".has-dropdown > a").click(openDropdown);
        var $html = $('html');
        if ($.browser.msie) {
            $html.addClass('msie');
        } else if ($.browser.opera) {
            $html.addClass('opera');
        }
    });
</script>
