<!DOCTYPE html>
<html>
<head>
  <title>Motlee</title>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "/bootstrap/js/bootstrap.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
    	<div class="container">
        	<%= yield %>
	</div>


	<script>
		$(".container").css({'width' : $(window).width(), 'height' : $(window).height()});
	</script>
</body>
</html>
